/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*
For alert-service.ts
*/

.alert-success{
    background-color: #dff0d8 ;
    border-color: #d0e9c6;
    color: #3c763d;
    text-align: center;
}

.alert-error{
    background-color: #f2dede ;
    border-color: #ebcccc;
    color: #a94442;
    text-align: center;
}
